/* Body */
body{
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden;
    background: rgba(64, 22, 46, 1);
    font-family: "Ubuntu", sans-serif;
}

/* Top bar */
.topbar{
    position: fixed;
    width: 100%;
    height: 32px;
    background: rgba(0, 0, 0, 0.9);

    display: flex;
    align-items: center;
    justify-content: space-between;
}
.topbar .item{
    position: relative;
    font-size: 14px;
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
}
.topbar .item:hover{
    transition: 0.2s;
    border-radius: 12px;
    background-color: rgba(255, 255, 255, 0.3);
}

/* Dock */
.dock{
    position: fixed;
    top: 32px;
    width: 72px;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);

    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 4px;
    gap: 4px;
}
.dock .item{
    position: relative;
    width: 90%;
    height: calc(72px*0.9);
    border-radius: 12px;
    
    display: flex;
    align-items: center;
    justify-content: center;
}
.dock .item:hover {
    transition: 0.2s;
    border-radius: 12px;
    background-color: rgba(255, 255, 255, 0.3);
}
.dock .item .active{
    position: absolute;
    top: calc(50%-4px);
    left: 0px;
    width: 8px;
    height: 8px;
    border-radius: 6px;
    background: rgba(255, 0, 0, 1);
}
.dock .item .icon{
    width: 48px;
    height: 48px;
    border-radius: 12px;
    background-size: cover;
    background-position: center;
}

/* Window */
.window{
    position: fixed;
    background: rgba(255, 255, 255, 1);
}

/* Image */
.snyiv_image{
    background-image: url("./assets/icon/snyiv.png");
}
.github_image{
    background-image: url("./assets/icon/github.png");
}
.x_image{
    background-image: url("./assets/icon/x.png");
}